src/*.exe
src/*.pdb



#Added by cargo
#
#already existing elements are commented out

/target
**/*.rs.bk


#Added by cargo
#
#already existing elements are commented out

#/target
#**/*.rs.bk
Cargo.lock
src/p001.rs
